doctype html
html(lang="en")
    head
        title #{pageTitle} | Gymlight CRM
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") HOME
                    li 
                        a(href="/search") 회원 관리 
                    li 
                        a(href="/users/attend") 출석부
                    li 
                        a(href="/users/lockers") 락커
                    li 
                        a(href="/accounting") 회계
        main
            block content
    include partials/footer